# Streamlit
streamlit==1.29.0

# Data processing
pandas==2.0.3
numpy==1.26.4

# Machine Learning
scikit-learn==1.3.2
xgboost==1.7.6
imbalanced-learn==1.12.1

# Visualization
matplotlib==3.8.1
seaborn==0.12.2
shap==1.2.3

# Utilities
joblib==1.3.2

# Excel support
openpyxl==3.1.2
